/* css styles */

.navbar {
  background-color: #e30520; /* Custom background color */
  color: #ffffff;            /* Custom text color */
}



/* Keep navbar links white */
.navbar a {
  color: #ffffff !important; /* Ensure they stay white */
}

.navbar a:visited {
  color: #ffffff !important; /* Visited links remain white */
}

.navbar a:hover {
  color: #ee6979 !important; /* Change color when hovered */
}

.navbar a:active {
  color: maroon !important; /* Change color when active */
}



a {
  color: #e30520; /* Changes the color of normal links */
}

a:visited {
  color: #e30520; /* Changes the color of visited links */
}

a:hover {
  color: #ee6979; /* Changes the color of links on hover */
}

a:active {
  color: maroon; /* Changes the color of active links */
}

.toc a, #TOC a, .toc-links a {
  color: #e8374c !important; /* Force the style to override Bootstrap */
}

.toc a:hover, #TOC a:hover, .toc-links a:hover {
  color: #ee6979 !important;
}

.toc a:visited, #TOC a:visited, .toc-links a:visited {
  color: #e8374c !important;
}

.toc a:active, #TOC a:active, .toc-links a:active {
  color: maroon !important;
}

